
.sar{
	float:left;
    padding:0px 13px 1px 20px;
	background-color:#87CEEB;
	text-align:left;
	font-size:16px;
}
#image{
    float:left;
    padding:0px 20px 20px 25px;
	border-radius:50%;
	font-size:18px;
}
.head{
	text-align:left;
	padding: 5px 25px 2px 400px;
	background-color:#DCAE96;
	font-size:18px;
}
#h4{
	font-size: 18px;
	font-width:solid;
}
.vesh{
	text-align:left;
	padding:1px 0px 1px 400px; 
	background-color:#DCAE96;
	font-size:18px;
}
.edu{
	
	text-align:left;
	padding-left:400px;
	padding-top:1px;
	background-color:#DCAE96;
    font-size:18px;	
}
table{
	border:1px solid;
	width:100%;
	border-collapse:collapse;
}
th,td{
	padding:15px;
	border:1px solid #a4a4a4;
	height:30px;
}
th{
	text-align:left;
}
.list_box{
    
    width:70%;
    background-color:#DCAE96;
    overflow:auto;
	text-align:left;
	padding-left:100px;
}
.box{
	display: inline-block;
    width: 50%;
    float:left;
	text-align:left;
	padding-bottom:32px;
}
.footer{
    background-color: #000; 
    color:#fff; 
    font-size:18px;
	text-align:left;
	
}
.container{
    width:74%;
    margin:auto; 
    overflow:auto;
	font-size:20px;
}
