#demo{
background-color:#87CEEB;
padding:20px 13px 60px 20px;
text-align:center;
font-size:20px;
}
#demo1{
text-align:center;
background-color:#DCAE96;
padding:20px 13px 60px 20px;
font-size:20px;
}
button{
	text-align:center;
	font-size:25px;
}